# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
env
pkg
bin

# ignore more files that are usually related to a developer's system info
# .DS_Store - macOS folder information; .idea - IntelliJ (jetbrains IDEs) settings
.DS_Store
.idea